NODE_ENV='local'
PORT='8080'
BASE_URL='http://localhost:8080'
APP_NAME='vellorum'
FILE_LOG_LEVEL='info'
LOG_DIRNAME='.logs'
ERROR_LOG_FILENAME ='error'
VERIFICATION_EMAIL_EXPIRATION='24hr'
AUTH_TOKEN_EXPIRATION='24hr'
ORIGINS='http://localhost:3000,http://localhost:3001'
DATABASE_SYNCHRONIZE='true'
POSTGRES_DATABASE_NAME='vellorum'
POSTGRES_DATABASE_USERNAME='postgres'
POSTGRES_DATABASE_PASSWORD='password'
POSTGRES_DATABASE_HOST='postgres'
POSTGRES_DATABASE_DIALECT='postgres'
POSTGRES_DATABASE_PORT='5432'
ACCESS_TOKEN_LIFE='15m'
ACCESS_TOKEN_SECRET='accessSecret'
FRONT_END_URL='http://localhost:3000'
FORGOT_PASSWORD_TOKEN_EXPIRATION='30m'

SENDGRID_API='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'
EMAIL_TEST_MASK=
EMAIL_FROM_EMAIL='vellorum@yopmail.com'
EMAIL_FROM_NAME='Vellorum'
EMAIL_ENABLED='false'

NEW_INVITATION_EMAIL_SUBJECT='You have been invited'
NEW_INVITATION_EMAIL_BODY='You have been invited to the company {{ company_id }}. <br /> Please use following link to register. <br /> <a href="{{ invitationUrl }}">Invitation Link</a>'

NEW_USER_EMAIL_SUBJECT='New account created'
NEW_ADMIN_USER_EMAIL_BODY='Your account has been created. <br /> Please use following password to login. <br />  <p>Password: {{ password }}</p>.Click the link for login page: {{loginUrl}}'
NEW_COMPANY_USER_EMAIL_BODY='Your account has been created. <br /> Please use following company code and password to login. <br /> <p>Company code: {{ companyCode }}</p> <p>Password: {{ password }}</p>. Click the link for login page: {{loginUrl}}'

RESET_PASSWORD_EMAIL_SUBJECT= 'Reset password'
RESET_PASSWORD_EMAIL_BODY='Please follow the provided link to reset your password <br /> <a href="{{ resetPasswordLink }}">Reset password </a>'

INVOICE_EMAIL_SUBJECT= 'Invoice'
INVOICE_EMAIL_BODY='Please find the attached invoice.'
