<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <style scoped>
      .container {
        text-align: center;
        padding: 2rem;
      }

      .container-outer-body {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        min-width: 450px;
        max-width: 600px;
      }
      .container-body {
        justify-content: center;
        font-size: 18px;
        background: white;
        padding: 3rem;
      }

      .logo-img {
        width: 150px;
        height: 150px;
      }
    </style>
  </head>
  <body style="background-color: #ebecf7">
    <div class="container">
      {{#if hasLogo}}
      <img src="cid:logo" alt="Velorona" class="logo-img" />
      {{else}}
      <h1>{{companyName}}</h1>
      {{/if}}
    </div>
    <div class="container-outer-body">
      <div class="container-body">
        <h3>Hi {{manager}}!,</h3>
        <p>
          You have {{status}} the {{user}}'s timesheet for the week {{weekStartDate}} to {{weekEndDate}}. No further
          action is required at this moment.
        </p>
        {{#if needReason}}
        <p><b>Reason for rejection: </b>{{reason}}</p>
        {{/if}} The timesheet for the week <b>{{week}}</b> of {{user}}has been {{status}}.
        <p>If you have any questions, feel free too email us</p>
        <p>Thanks,</p>
        {{#if companyName}}
        <p>{{companyName}}</p>
        {{else}}
        <p>Velorona</p>
        {{/if}}
      </div>
    </div>
    <div class="container">
      <ul type="none">
        <li>&#169; All rights reserved</li>
        <li><a href="{{marketingUrl}}">Velorona</a></li>

        <li>1001 W Euless Blvd, Euless, TX 76040, USA</li>
        <li>contact@velorona.com</li>
      </ul>
    </div>
  </body>
</html>
