<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <style>
      .container {
        text-align: center;
        padding: 2rem;
      }

      .container-outer-body {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        min-width: 450px;
        max-width: 600px;
      }
      .container-body {
        justify-content: center;
        font-size: 18px;
        background: white;
        padding: 3rem;
      }
      .logo-img {
        width: 150px;
        height: 150px;
      }
    </style>
  </head>

  <body style="background-color: #ebecf7">
    <div class="container">
      <img src="cid:logo" alt="Velorona" class="logo-img" />
    </div>
    <div class="container-outer-body">
      <div class="container-body">
        <h1>Hi admin,</h1>
        <p>A new company with name {{name}} has been registered.</p>
        <p>Here's the detail:</p>
        <p><b>Company Name: </b>{{name}}</p>
        <p><b>Email Address: </b>{{email}}</p>

        <p>Please do not reply to this email, this email box is not monitored.</p>
        <p>Thanks,</p>
        {{#if companyName}}
        <p>{{companyName}}</p>
        {{else}}
        <p>Velorona</p>
        {{/if}}
      </div>
    </div>
    <div class="container">
      <ul type="none">
        <li>&#169; All rights reserved</li>
        <li><a href="https://vellorum.iwengineering.com/">Velorona</a></li>

        <li>1001 W Euless Blvd, Euless, TX 76040, USA</li>
        <li>contact@velorona.com</li>
      </ul>
    </div>
  </body>
</html>
