<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <style scoped>
      .container {
        text-align: center;
        padding: 2rem;
      }

      .container-outer-body {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        min-width: 450px;
        max-width: 600px;
      }
      .container-body {
        justify-content: center;
        font-size: 18px;
        background: white;
        padding: 3rem;
      }

      .logo-img {
        width: 150px;
        height: 150px;
      }
    </style>
  </head>
  <body style="background-color: #ebecf7">
    <div class="container">
      <img src="cid:logo" alt="Velorona" class="logo-img" />
    </div>
    <div class="container-outer-body">
      <div class="container-body">
        <h1>Hi {{companyName}},</h1>
        <p>
          Your invoice is ready to review(see below),sight in to view it. If you have already paid,disregard this email.
          If you have set up autopay, we will automatically charge the card we have in file within 15 days of the
          billing date .
        </p>
        <p>Invoice number:{{invoiceNumber}}</p>
        <p>Amount:{{amount}}</p>
        <p>Billing period:{{periodStart}} - {{periodEnd}}</p>
        <p>Billing date: {{billingDate}}</p>

        <p>Link: {{invoicePdf}}</p>
        <p>Please do not reply to this email, this email box is not monitored.</p>
        <p>Thanks,</p>
        <p>Velorona</p>
      </div>
    </div>
    <div class="container">
      <ul type="none">
        <li>&#169; All rights reserved</li>
        <li>Velorona</li>
        <li>1001 W Euless Blvd, Euless, TX 76040, USA</li>
        <li>contact@velorona.com</li>
      </ul>
    </div>
  </body>
</html>
