<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <style scoped>
      .container {
        text-align: center;
        padding: 2rem;
      }

      .container-outer-body {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        min-width: 450px;
        max-width: 600px;
      }
      .container-body {
        justify-content: center;
        font-size: 18px;
        background: white;
        padding: 3rem;
      }

      .logo-img {
        width: 150px;
        height: 150px;
      }
    </style>
  </head>
  <body style="background-color: #ebecf7">
    <div class="container">
      <img src="cid:logo" alt="Velorona" class="logo-img" />
    </div>
    <div class="container-outer-body">
      <div class="container-body">
        <h1>Hi {{companyName}},</h1>
        <p>Thanks for choosing Velorona {{planName}}.Your plan has been activated from today.</p>
        <p>We emailed your confirmation to {{companyEmail}}.</p>
        <p>Your paid subscription starts when this three-month trial ends unless you cancel by {{endDate}}.</p>
        <p>Please do not reply to this email, this email box is not monitored.</p>
        <p>Thanks,</p>
        <p>Velorona</p>
      </div>
    </div>
    <div class="container">
      <ul type="none">
        <li>&#169; All rights reserved</li>
        <li>Velorona</li>
        <li>1001 W Euless Blvd, Euless, TX 76040, USA</li>
        <li>contact@velorona.com</li>
      </ul>
    </div>
  </body>
</html>
